/* index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark Theme */
.dark {
  --bg-primary: #1a202c;
  --text-primary: #ffffff;
}

/* Light Theme */
.light {
  --bg-primary: #ffffff;
  --text-primary: #000000;
}

body {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

/* Add other styling rules using the custom variables as needed */
